* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}
body {
    min-height: 100vh;
    background-color:#5F5F58;
    overflow-x:hidden;
}
html, body, .flexCol  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow, .flexArticle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.around {
    justify-content: space-around;
}


/*Header et footer*/

header, footer {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #3a3a36;
    text-align: center;
}
header {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
footer {
    padding-top: 10px;
    padding-bottom: 30px;
}
.titreSite, .titreSite:hover, .titreSite:link, .titreSite:visited, .titreSite:active {
    color:white;
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Ysabeau', serif;
}
.footerHours {
    width: 70vw;
}
.footerContact {
    width: 30vw;
}
.userConnected {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.icon {
    width: 30px;
    height: 30px;
    margin: 0.3rem
}
.btn-icon {
    border: none;
    background: none;
    cursor: pointer;
}
.flexHours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.hours {
    margin: 5px;
}

/*Navigation*/

.navbar {
    background-color: #cfbfa0;
    width: 100vw;
    height: 6vh;
    align-items: center;
}
.navbar>ul {
    width: 50vw;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
}
.navbar>ul>li>a:link, .navbar>ul>li>a:visited, .navbar>ul>li>a:active {
    text-decoration: none;
    color:#473d14;
    font-size: calc(0.5rem + 1vw);
}
.navbar>ul>li>a:hover {
    color: #918546;
}
.btn-booking-1 {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    color:#d8bf6c;
    background-color: #3a3a36;
    margin: 0.5rem;
}
.btn-booking-1:hover {
    color: white;
    background-color:#5F5F58;
}
.btn-booking-2 {
    width: 400px;
    height: 70px;
    border: none;
    border-radius: 40px;
    font-size: 3rem;
    color:#473d14;
    background-color: #cfbfa0;
    margin: 0.5rem;
}
.btn-booking-2:hover {
    background-color: #f1e3c6;
}

/*Titres, barres et listes*/

h2 {
    font-family: 'Ysabeau', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color:#d8bf6c;
    letter-spacing: 0.2rem;
    text-align: center;
}
h3 {
    font-family: 'Ysabeau', sans-serif;
    font-size: 3rem;
    color:#d8bf6c;
    letter-spacing: 0.2rem;
    text-align: center;
}
h4 {
    font-size: 1.5rem;
    text-align: center;
}
h5 {
    font-size: 1.2rem;
    text-align: center;
}
h4, h5, p, label, .txtWhite {
    color:white;
}
h2, h3, h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
li {
    list-style: none;
}
hr {
    height: 1px;
    width: 30%;
    margin: auto;
    border: none;
    background-color: #b9b9a1;
}

/*Section et article*/

section {
    width: 70vw;
    padding: 10px;
    flex-grow: 1;
}
article, section {
    margin-left: auto;
    margin-right: auto;
}

/*Formulaires*/

.input, select {
    height: 25px;   
    width: 10vw;
    min-width: 200px;
}
.short-input {
    height: 25px;
    width: 6vw;
    min-width: 50px;
}
.input, .short-input, select, .area {
    margin: 1rem;
    background-color: #eeeeee;
    border: 2px solid #dddddd;
}
label, .input, .short-input, select {
    text-align: center;
}
.btn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: #cfbfa0;
    margin: 0.5rem;
}
.btn:hover {
    background-color: #f1e3c6;
}
.area {
    width: 10vw;
    min-width: 200px;
}

/*Administration : onglets*/

.tab {
    padding: 10px;
}
.btn-tab {
    width: 14vw;
    padding: 10px;
    background-color: #3a3a36;
    border: none;
    color:#d8bf6c;
    font-size: 1.4rem;
}
.btn-tab:hover, .btn-tab-background {
    background-color:#5F5F58;
}

/*Administration : gestion de l'accueil*/

.divRendu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.renduAccueilBox {
    width: 40px;
    height: 40px;
    border: solid 1px white;
    margin: 10px;
}
.renduAccueilNumber {
    text-align: center;
}

/*Administration : carte et menus*/
.menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    background-color: #3a3a36;
}

/*Administration : allergies*/
.allergies-admin {
    flex-wrap: wrap;
    width: 40vw;
    background-color: #3A3A36;
    padding: 10px;
}
.allergies-list {
    color: #cecece;
    font-size: 1.5rem;
}

/*Accueil*/

.imagePlat {
    width: 17vw;
    height: 20vh;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.imagePlatFond {
    width: 17vw;
    height: 20vh;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity:0;
    background-color: rgba(0, 0, 0, 0.4);
}
.imageAccueil:hover .imageTitre{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.imageAccueil:hover .imagePlatFond{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.imageTitre {
    width: 100%;
    color: white;
    font-size: calc(0.5rem + 1vw);
    position: absolute;
    top: 40%;
    text-align: center;
    opacity: 0;
    z-index: 2;
}
.imageAccueil {
    position: relative;
}
.accueilTitre {
    text-align: center;
}

/*User*/

.modal {
    position: absolute;
    z-index: 20;
    width: 30vw;
    height: auto;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding:20px;
    background-color: #3a3a36;
}
.btn-close {
    position: absolute;
    top:5px;
    right: 5px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    background-color:  #3a3a36;
    color:#d8bf6c;
    cursor: pointer;
}
.hidden {
    display: none;
}

/*Carte et menus*/

.liDish {
    height: 2.2rem;
}
.liTitle {
    font-size: 1.5rem;
    color:#a79c8a;
}
.liDesc {
    font-size: 1.1rem;
    color:#d8d2b8;
}
.liPrice {
    font-size: 1.3rem;
    color:#d8bf6c;
}
li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.carte {
    text-align: center;
}
.formule {
    padding: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 2px solid #dddddd;
}

/*Réservation*/

.hourBox {
    font-size: 1rem;
    margin: 0.5rem;
    width: 70px;
    height: 40px;
    background-color: #8d1b1b;
    box-shadow: 0px 0px 10px rgba(173, 0, 0, 0.3);
    border: none;
    color: white;
    cursor: pointer;
}
.hourBox:hover {
    background-color: #dd4f4f;
}
.hourBoxSize {
    width: 70px;
    height: 40px;
}
.hourResult {
    color: white;
    text-align: center;
}
.booking-box {
    width: 40vw;
}
.booking-wrap {
    flex-wrap: wrap;
}

/*Allergies*/
.allergies, .allergy {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.allergies {
    flex-wrap: wrap;
    justify-content: center;
    width: 30vw;
}
.allergy {
    margin: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    background-color:#cfbfa0;
}
.allergy label {
    color: black;
}
.allergy-box {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
}

@media (max-width: 480px) {
    body {
        font-size: 0.8rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1rem;
    }
    .liTitle {
        font-size: 1.2rem;
    }    
    .liDesc {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    .liPrice {
        font-size: 1.1rem;
    }    
    hr {
        width: 60vw;
    }
    .navbar>ul {
        width: 100vw;
    }
    .navbar>ul>li>a:link, .navbar>ul>li>a:visited, .navbar>ul>li>a:active {
        font-size: 1rem;
    }
    .titreSite, .titreSite:hover, .titreSite:link, .titreSite:visited, .titreSite:active {
        font-size: 3rem;
    }
    .imagePlat {
        width: 100px;
        height: 100px;
    }
    .imagePlatFond {
        width: 100px;
        height: 100px;
    }

    .accueilImages {
        width: 100vw;
    }
    .modal {
        width: 80%;
        height: auto;
        padding:10px;
        position: absolute;
        top: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .hourBox {
        width: 15vw;
        height: 5vh;
        margin: 0.5rem;
    }
    .booking-box {
        width: 100vw;
    }
    .btn {
        width: 150px;
        height: 35px;
        border: none;
        border-radius: 17px;
        font-size: 1rem;
        background-color: #D6CFCB;
        margin: 0.4rem;
    }
    .btn-tab {
        width:20vw;
        padding: 0;
        height: 35px;
        background-color: #3a3a36;
        border: none;
        color:#d8bf6c;
        font-size: 0.7rem;
    }
    section {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .flexArticle {
        flex-direction: column;
        width: 90vw;
    }
    .footerContact, .footerHours {
        width: 90vw;
    }
    .input {
        width: 60vw;
        height: 4vh;
        min-width: 150px;
    }
    .btn-booking-1 {
        width: 100px;
        height: 30px;
        border-radius: 15px;
        font-size: 1rem;
    }
    .btn-booking-2 {
        width: 200px;
        height: 50px;
        border-radius: 25px;
        font-size: 2rem;
    }
    .allergies {
        width: 100vw;
    }
    .allergy {
        margin: 0.5rem;
    }
}
    